html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-fixed .nav-wrapper a:hover {
    background-color: #00796b !important;
}

#home {
    background-color: #35A48C;
    background-image: url(fresh.jpg);
    background: linear-gradient(rgba(32, 33, 37, 0.65), rgba(32, 33, 37, 0.9)), url('fresh.jpg');
    background-position: center top;
    color: white;
    background-repeat:no-repeat;
    background-size: cover;
}

#topRecipes{
    background-color: #35A48C;
}

#reviews {
    background-color: #E8E7A4;
}

#contact {
    background-color: #DFC83D;
}

.row {
    margin:0;
    text-align: center;
    /*color: #fbf8f2;*/
    font-family: 'Raleway', sans-serif;
}

#card {
    margin-bottom: 50%;
    margin-top: 15%;
}

#home .row .element{
    position: absolute;

}

h3 {
    margin-top: 5%;
}

.nav-wrapper{
    background-color: #198889;
    font-family: 'Raleway', sans-serif;
    position: absolute;
}

.chip i.material-icons {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.input-field {
    text-align: left;
}

.materialize-tags {
    color: white !important;
}

.element {
    position: relative;
    top: 65%;
    transform: translateY(-65%);
}

section {
    height: 100vh;
}

footer{
    height: 10vh;
    background-color: #198889 !important;
}

#submit {
    width: 100%;
    background-color: transparent;
    border: 1px solid #1976d2;
    color: black;
    box-shadow: none;
    text-align: center;
}

#submit:hover {
    background-color: #1976d2;
    color: white;
}

#submit2 {
    width: 100%;
    background-color: transparent;
    border: 1px solid #1976d2;
    color: black;
    box-shadow: none;
    text-align: center;
}

#submit2:hover {
    background-color: #1976d2;
    color: white;
}

#submitRecipe {
    width: 100%;
    background-color: transparent;
    border: 1px solid #1976d2;
    color: black;
    box-shadow: none;
    text-align: center;
}

#submitRecipe:hover {
    background-color: #1976d2;
    color: white;
}


#email {
    color: black;
}

#email2 {
    color: black;
}

#contactEmail {
    color: #616161;
}
#password {
    color: black;
}

#password2 {
    color: black;
}

#password3 {
    color: black;
}

.switch {
    color: #000;
    float: left;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #818181;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #1976d2;
}

.modal {
    background-color: #e0e0e0;
    width: 30%;
}

.modal h3 {
    color: #1976d2;
}

#loginModalFooter{
    background-color: transparent;
}

#signupModalFooter{
    background-color: transparent;
}

#recipeModalFooter{
    background-color: transparent;
}

.forgotPass {
    float: right;
    color: #1976d2;
}

.forgotPass:hover {
    background-color: #e0e0e0;
}

.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #1976d2;
    box-shadow: none;
}

.input-field input[type=email],
.input-field input[type=password] {
    border-bottom: 2px solid #424242;
    box-shadow: none;
}

.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #1976d2;
}

.input-field input[type=email] + label,
.input-field input[type=password] + label {
    color: #424242;
}

#contactEmail:focus {
    border-bottom: 2px solid teal;
    box-shadow: none;
}

#contactEmail {
    border-bottom: 2px solid black;
    box-shadow: none;
}

#contactEmail:focus + label {
    color: teal;
}

#contactEmail + label {
    color: black;
}

#recipeName:focus {
    border-bottom: 2px solid #1976d2;
    box-shadow: none;
}

#recipeName {
    border-bottom: 2px solid black;
    box-shadow: none;
}

#recipeName:focus + label {
    color: #1976d2;
}

#recipeName + label {
    color: black;
}

#recipeCookTime label {
    color: black;
}

#recipeCookTime {
    border-color: black;
}

#recipeServings label {
    color: black;
}

#recipeServings {
    border-color: black;
}

#recipeInstructions:focus {
    border-bottom: 2px solid #1976d2;
    box-shadow: none;
}

#recipeInstructions {
    border-bottom: 2px solid black;
    box-shadow: none;
}

#recipeInstructions:focus + label {
    color: #1976d2;
}

#recipeInstructions + label {
    color: black;
}


/* needs to be fixed
#ingredientTags .input-field:active {
    border-bottom: 2px solid #1976d2;
    box-shadow: none;
}

#ingredientTags {
    border-bottom: 2px solid black;
    box-shadow: none;
}

#ingredientTags:focus + label {
    color: #1976d2;
}

#ingredientTags + label {
    color: black;
} */

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    margin: 0;
}

#messageText {
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: none;
}

#messageText:focus {
    border-bottom: 2px solid teal;
    box-shadow: none;
}


#messageText:focus + label {
    color: teal;
}

#messageText + label {
    color: black;
}

#contact h5 {
    color: black;
}

#contactHr {
    border-color: black;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px black inset;
}

#contactUs {
    margin-top: 7%;
}

#recipeRequest {
    margin-left: 8%;
    margin-right: 8%;
}

#contactUsHeader {
    margin-left: 8%;
    margin-right: 8%;
    padding: 0;
}

#contactInputs {
    margin-left: 8%;
    width: 100%;
}

#homeSearch {
    width: 100%;
}

#recipeModal {
    color: #000;
}
